/*
=============== 
Stripe Styles
===============
*/
.stripenav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}
.stripenav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.stripenav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stripebtn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}
.stripebtn:hover {
  background: var(--clr-grey-5);
}
.stripenav-links {
  display: none;
}
.stripesignin-btn {
  display: none;
}
.stripehero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(../hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.stripehero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.stripehero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  align-items: center;
}

.stripehero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
}
.stripehero-info p {
  max-width: 35em;
  line-height: 1.8;
}
.stripehero-images {
  display: none;
}

/* nav media query */
@media screen and (min-width: 800px) {
  .stripenav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .stripetoggle-btn {
    display: none;
  }
  .stripesignin-btn {
    display: inline-block;
  }
  .stripenav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .stripenav-links li {
    height: 100%;
  }
  .stripelink-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

/* hero media query */
@media screen and (min-width: 800px) {
  .stripehero::before {
    background-size: contain;
    height: 100%;
  }
  .stripehero-center {
    grid-template-columns: 2fr 1fr;
  }

  .stripehero-info h1 {
    font-size: 3rem;
  }
  .stripehero-info p {
    font-size: 1.25rem;
  }
  .stripehero-images {
    display: block;
    justify-self: center;
  }
  .stripephone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .stripehero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .stripehero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .stripehero-images {
    align-self: end;
  }
  .stripephone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .stripehero-center {
    padding-bottom: 20vh;
  }
  .stripephone-img {
    width: 17rem;
  }
}

/* sidebar */
.stripesidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.stripesidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.stripesidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.stripeclose-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.stripesidebar article {
  margin-bottom: 2rem;
}
.stripesidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.stripesidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.stripesidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .stripesidebar-wrapper {
    display: none;
  }
}

/* links */
.stripesubmenu {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: var(--transition);
}
.stripesubmenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.stripesubmenu.show {
  display: block;
}

.stripesubmenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.stripesubmenu h4 {
  margin-bottom: 1.5rem;
}
.stripesubmenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.stripesubmenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
